/* Definición de Variables de Color basadas en tu imagen */
:root {
    --tango: #ef6211;
    --hot-cinnamon: #d6771a;
    --ocean-green: #44ac7b;
    --gondola: #2a1819;
    --red-violet: #b91977;
    --spicy-mix: #846145;
    --jewel: #106d40;
    --tasman: #d9e2db;
    --tulip-tree: #e6ac46;
}

body {
    background-color: var(--tasman); /* Fondo general neutro suave */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.canvas-mural {
    max-width: 950px;
    background-color: var(--tulip-tree); /* Fondo principal amarillo/naranja */
    padding: 40px;
    border: 3px solid var(--gondola);
    box-shadow: 15px 15px 0px var(--spicy-mix);
    margin: 50px auto;
}

/* Nube del título principal */
.nube-titulo {
    background-color: var(--red-violet);
    color: white;
    display: inline-block;
    padding: 15px 45px;
    border-radius: 50px;
    font-size: 2.2rem;
    font-weight: bold;
    box-shadow: 4px 4px 0px var(--gondola);
}

/* Barra del Autor */
.barra-autor {
    background-color: var(--tango); /* Color naranja vibrante */
    padding: 20px;
    border: 2px solid var(--gondola);
    display: flex;
    align-items: center;
}

.etiqueta-azul {
    background-color: var(--ocean-green);
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.8rem;
    border: 2px solid var(--gondola);
}

.nombre-autor {
    margin-left: 30px;
    color: var(--gondola);
    font-weight: 800;
}

/* Foto y Cita */
.marco-foto {
    background-color: var(--ocean-green);
    padding: 15px;
    border: 3px solid var(--gondola);
    display: inline-block;
}

.marco-foto img {
    width: 250px;
    filter: grayscale(20%);
}

.cita-bubble {
    background-color: white;
    color: var(--gondola);
    border: 2px dashed var(--red-violet);
    border-radius: 15px;
    padding: 15px;
    font-size: 0.9rem;
    max-width: 260px;
    margin: 0 auto 15px auto;
}

/* Chismecito y Tarjetas */
.chisme-bubble {
    background-color: var(--red-violet);
    color: white;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 25px;
}

.card-dato {
    background-color: var(--jewel); /* Verde oscuro para contraste */
    color: white;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 4px;
    border-left: 10px solid var(--ocean-green);
    box-shadow: 5px 5px 0px var(--gondola);
}